.card{
    box-shadow: 5px 5px 9px 0.1px #000;
    transition: all 0.2s;
}

.card:hover{
    transform: scale(1.04);
}
.nav-item{
    box-shadow: 5px 5px 9px 0.1px #d2c7c7;

}
.menu-image {
    height: 50px;   
    width: 50px;
  }
  
  @media (min-width: 576px) {
    .menu-image {
      height: 80px;
    }
  }
  
  @media (min-width: 992px) {
    .menu-image {
      height: 100px; 
      width: 100px;
    }
  }
  
  